<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.michael.hdujwc.mapper.SectionMapper">
    <select id="getNews" resultType="com.michael.hdujwc.model.TTL">
        select title, time, link
        from local.${section}
        order by time desc
    </select>


</mapper>